<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DuplicateFinder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <DuplicateFinder.Properties.Settings>
            <setting name="Theme" serializeAs="String">
                <value>Day</value>
            </setting>
            <setting name="Hash" serializeAs="String">
                <value>SHA1</value>
            </setting>
            <setting name="FormBackColor" serializeAs="String">
                <value>Gainsboro</value>
            </setting>
            <setting name="PanelTopColor" serializeAs="String">
                <value>54, 79, 123</value>
            </setting>
            <setting name="PanelLogoColor" serializeAs="String">
                <value>32, 34, 41</value>
            </setting>
            <setting name="PanelLeftMenuColor" serializeAs="String">
                <value>62, 75, 97</value>
            </setting>
            <setting name="ButtonFileColor" serializeAs="String">
                <value>62, 75, 97</value>
            </setting>
            <setting name="ButtonPartitionColor" serializeAs="String">
                <value>62, 75, 97</value>
            </setting>
            <setting name="ButtonSettingsColor" serializeAs="String">
                <value>62, 75, 97</value>
            </setting>
            <setting name="ButtonAboutColor" serializeAs="String">
                <value>62, 75, 97</value>
            </setting>
            <setting name="PanelFileColor" serializeAs="String">
                <value>62, 75, 97</value>
            </setting>
        </DuplicateFinder.Properties.Settings>
    </userSettings>
</configuration>